$config-button-sizes: (
  
  primary: util-view-units(24px),
  secondary: util-view-units(18px),
  tertiary: util-view-units(16px)
);

$config-type-sizes: (

  h1: util-view-units(32px),
  h2: util-view-units(24px),
  h3: util-view-units(18px),
  h4: util-view-units(16px)
);