@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes squarePath {
  0%, 100% {
    transform: translate(-100%, -100%);
  }
  25% {
    transform: translate(100%, -100%);
  }
  50% {
    transform: translate(100%, 100%);
  }
  75% {
    transform: translate(-100%, 100%);
  }
}

div {
  animation-name: squarePath;
  animation-duration: 2s;
}