@keyframes flyIn {
  from {
    opacity: 0;
    transform: translateY(300%) scale(0);
  }
}

@keyframes rotate {
  to {
    transform: rotate(45deg);
  }
}

div {
  animation: 
    flyIn .5s forwards,
    rotate .5s .3s forwards;
}