@keyframes shrink {
  to {
    transform: scale(0.5);
  }
}

div {
  animation-name: shrink;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}